* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 12px;
    line-height: 1.5;
}
.icon {
    width: 32px; height: 32px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

/* layout */

.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.page>.top {
    height: 70px;
    background: rgb(51, 51, 51);
    display: flex;
    align-items: center;
}   
.page>.top > .title {
    font-size: 20px;
    color: #fff;
    margin-left: 5px;

}
.page>.asideAndMain {
    display: flex;
    height: 100vh;
}

.page>.asideAndMain>aside {
    width: 200px;
}

.page>.asideAndMain>main {
    flex-grow: 1;
}

/* aside */
.page>.asideAndMain>aside {
    display: flex;
    flex-direction: column;
}

.newSong {
    text-align: center;
    padding: 10px;
    color: #333333;
}

.newSong.active {
    background: #d4d4d4;
}

#songList-container {
    flex-grow: 1;
}

.songList {
    text-align: left;
    border-top: 1px solid #999;
}

.songList>li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.songList>li.active {
    background: #d4d4d4;
}

.draggable {
    text-align: center;
    padding: 20px;
    border: 2px dashed #dddddd;
    border-radius: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

/* main */
.page > .asideAndMain > main {
    background: #ddd;
    padding-left: 40px;
    padding-top: 20px;
    min-height: 480px;
}

.form {
    font-size: 14px;
}

.form>.row {
    margin: 20px 0;
    display: flex;
}

.form .row.actions {
    margin-left: calc(4em + 5px);
}

.form>.row>label {
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.form input[type=text] {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
}

.form input[type=button],
.form input[type=submit],
.form button {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #333333;
    border:1px solid rgb(51, 51, 51);
    border-radius: 5px;
}

/* loading */
@keyframes loading{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(0.1);
    }
}
.site-loading {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,0.1);
    z-index: 1;
}
.site-loading.active{
    visibility: visible;
}
.site-loading::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    animation: loading 1s infinite alternate-reverse;
    animation-timing-function: linear; 
}