* {
    margin: 0;
    padding: 0;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@keyframes circle {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.bg {
    content: '';
    width: 100%;
    height: 150%;
    position: absolute;
    background: transparent url(/img/jfla.jpeg);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: -20px;
    right: -20px;
    filter: blur(8px)brightness(0.5);
    z-index: -1;
}

.page .logo {
    position: absolute;
    width: 92px;
    height: 17px;
    left: 9px;
    top: 12px;
}

.disc-container {
    position: relative;
    width: 100%;
}

.disc-container .icon-wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    height: 14.5%;
    width: 14.5%;
}

.disc-container .pointer {
    position: absolute;
    width: 24.5%;
    left: 45%;
}

.disc-container .disc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
}

.disc-container .ring {
    width: 79.2%;
}

.disc-container .light {
    width: 79.2%;
    position: absolute;
}

.disc-container .cover {
    width: 50%;
    position: absolute;
    border-radius: 50%;
    animation: circle 20s infinite linear;
    animation-play-state: paused;
}

.disc-container.playing .icon-wrapper {
    display: none;
}

.disc-container.playing .cover {
    animation-play-state: running;
}

.song-description {
    flex-grow: 1;
    color: #AEABAC;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
}

.song-description .song-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-description .song-information .songname {
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.song-description .song-information .artist {
    font-size: 16px;
    font-weight: 400;
    padding-top: 1px;
    color: hsla(0, 0%, 100%, .6);
}

.song-description .lines {
    transition: transform 0.3s;
    
}

.song-description .lyric {
    margin-top: 4px;
    height: 88px;
    overflow: hidden;
}

.song-description p.active {
    color: white;
}

.page>.links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 20;
}

.page>.links .links-wrapper {
    display: flex;
    padding: 0 10px;
    margin: 0 auto;
}

.page>.links a {
    box-flex: 1;
    flex: 1 1 auto;
    width: 10%;
    border: 1px solid #d33a31;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    padding: 0 6px;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    color: #d33a31;
}

.links a.main {
    background: #d33a31;
    color: white;
}